/* ====================== Genel Stil ====================== */
body {
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

/* ====================== Sol Sidebar ====================== */
.sidebar {
  width: 250px;
  background-color: #34495e;
  padding: 10px;
  border-radius: 10px;
  transition: left 0.3s ease-in-out;
}

.left-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}

.left-sidebar.collapsed {
  left: -235px;
}

.sidebar-header {
  text-align: right;
  margin-bottom: 20px;
}

.personnel-title {
  text-align: center; 
  margin-bottom: 5px; 
}

.personnel-title h2 {
  margin: 0;
  margin-right: 10px; 
}

.personnel-title button {
  margin-right: 10px;
  padding: 5px 5px; 
  font-size: 1rem;
  background-color: transparent;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
}

.personnel-cards {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.personnel-card {
  background-color: #f39c12;
  border-radius: 5px;
  padding: 5px;
  color: #2c3e50;
  cursor: move;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  position: relative;
}

.personnel-card span {
  flex-grow: 1;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.personnel-card button {
  padding: 3px 6px; 
  font-size: 0.8rem;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.personnel-card button:first-child {
  background-color: transparent;
  color: white;
}
.personnel-card button:first-child:hover {
  background-color: #00a0fd;
}

.personnel-card button:last-child {
  background-color: transparent;
  color: white;
}
.personnel-card button:last-child:hover {
  background-color: #ff0505;
}

/* ====================== Header ====================== */
header h1 {
  text-align: center;
  margin-bottom: 10px;
  color: #e74c3c;
}

.header-controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: flex-end;
  position: absolute;
  right: 0; 
  top: 50%; 
  transform: translateY(-50%);
}

.header-controls > * {
  margin-left: 5px; 
}
.header-controls button {
  margin-right: 0; 
}
.header-controls > *:last-child { 
  margin-right: 0; 
  border-radius: 5px 0 0 5px; 
}

/* ====================== Kanban Board ====================== */
.kanban-board {
  width: 1250px;
  display: flex;
  gap: 5px;
  margin-left: 50;
  position: relative; 
}

.container .left-sidebar.collapsed ~ main .kanban-board {
  margin-left: 0; 
}

.kanban-column {
  background-color: #34495e;
  border-radius: 10px;
  padding: 5px;
  min-width: 300px;
  max-width: 300px;
  min-height: 900px;
  position: relative;
}

.kanban-column .column-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.kanban-column h2 {
  text-align: left; 
  margin: 0;
  padding: 1px 50px;
  border-radius: 10px 10px 0 0;
  background-color: #2980b9; 
  color: #eb7d00;
  font-size: 1.2rem;
  white-space: nowrap; 
  overflow: hidden;     
  text-overflow: ellipsis; 
}

.sidebar-header button {
  padding: 5px 5px;
  font-size: 0.75rem;
  margin-right: 0px; 
  cursor: pointer;
}

.kanban-column .column-controls {
  display: flex;
}

.kanban-column .edit-column-btn,
.kanban-column .delete-column-btn {
  margin-right: 1px;
  padding: 1px 1px; 
  font-size: 0.75rem;
  background-color: transparent;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
}

.kanban-column .edit-column-btn:hover {
  background-color: #00a0fd;
}
.kanban-column .delete-column-btn {
  cursor: pointer;
}
.kanban-column .delete-column-btn:hover {
  background-color: #ff0505;
}

.addProjectBtnAfterColumn:hover {
  background-color: #1aff05;
}

.kanban-cards {
  max-height: 500px;
  min-height: 185px;
  padding-bottom: 10px; 
}


.column-add-btn { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px; 
  height: 25px; 
  line-height: 25px; 
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #ecf0f1;
  position: absolute;
  left: 50%;  
  transform: translateX(-50%); 
}

.column-add-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.kanban-board button { 
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ecf0f1;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
  position: absolute;
  top: 10px;
  right: 10px;
}

.kanban-board button:hover {
  background-color: #ffffff23;
}

/* ====================== Kanban Kartı ====================== */
.kanban-card {
  background-color: #c8e90f;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  color: #2c3e50;
  cursor: move;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 290px; 
  height: 150px; 
  padding: 5px; 
  display: flex;
  flex-direction: column;
}

.kanban-card h3 { 
  margin-bottom: 1px; 
  text-align: left; 
  margin-top: 5px;
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  position: relative; 
}

.kanban-card h3 button { 
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
  margin-left: 5px; 
}

.kanban-card h3 button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.kanban-card h3 button i {
  font-size: 1.2em;
}

.kanban-card h3 + hr { 
  margin-top: 5px;    
  margin-bottom: 5px;  
  border: none;         
  height: 1px;         
  background-color: #7f8c8d; 
  position: absolute; 
  top: 100%; 
  left: 0; 
  width: 100%; 
}

.kanban-card .personnel-cards h4 { 
  margin-bottom: 1px; 
}

.kanban-cards .add-project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px; 
  left: 50%;

}

.kanban-card .add-project-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.kanban-card .personnel-card { 
  width: 10%; 
  margin-bottom: 1px;
  margin: 1px;
  height: 25px;
  flex-shrink: 0;
  border-radius: 50%; 
  width: 22.5px;  
  height: 22.5px; 
}

.kanban-card .personnel-card .delete-btn { 
  display: none;
  font-size: 10px; 
  margin-right: 0; 
  color: #ffffff;
}

.kanban-card .personnel-card:hover .delete-btn { 
  display: inline-block; 
}

.personnel-card button {
  padding: 1px 1px; 
  font-size: 0.7rem;
  margin-left: 1px; 
}

.controls {
  text-align: center;
  margin-top: 10px;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #ecf0f1;
  font-size: 16px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffffff23;
}

.hide {
  display: none;
}